# Копируйте этот файл в .env и заполните значения

# Токен вашего бота от @BotFather
BOT_TOKEN=8514150343:AAF5lk0QR_3RWQQaAF044KLOHRkRVg05BgA

# ID вашего канала (должен начинаться с -100)
# Чтобы получить ID: добавьте бота @getidsbot в канал
CHANNEL_ID=-1003207415613

# ID администраторов через запятую
# Чтобы получить свой ID: напишите боту @userinfobot
ADMIN_IDS=7955714952