# Копируйте этот файл в .env и заполните значения

# Токен вашего бота от @BotFather
BOT_TOKEN=8540263511:AAGyP8bX_hUoFX_eRdWXHKatiZKi7svZP24

# ID вашего канала (должен начинаться с -100)
# Чтобы получить ID: добавьте бота @getidsbot в канал
CHANNEL_ID=-1003666805503

# ID администраторов через запятую
# Чтобы получить свой ID: напишите боту @userinfobot

ADMIN_IDS=7955714952

